# WHAT IS PYTHON
Python is an interpreted, high-level language created by Guido van Rossum and released in 1991. It is dynamically typed and garbage collected.

Python programs have the extension .py and can be run from the command line by typing python file_name.py.

Probably its most noticeable characteristic is its use of significant white space to delimit code blocks, instead of the more popular {} symbols.

End-of-line semicolons (;) are optional and usually not used in Python.

Python becomes the best solution in many domains from web applications, data analysis, data science, machine learning, and AI.

Common Feature Provided By python :

Simplicity: Think less of the syntax of the language and more of the code.

Open Source: A powerful language and it is free for everyone to use and alter as needed.

Portability: Python code can be shared and it would work the same way it was intended to. Seamless and hassle-free.

Being Embeddable & Extensible: Python can have snippets of other languages inside it to perform certain functions.

Being Interpreted: The worries of large memory tasks and other heavy CPU tasks are taken care of by Python itself leaving you to worry only about coding.

Object Orientation: Objects help breaking-down complex real-life problems into such that they can be coded and solved to obtain solutions.

### Applications of Python.
    
Artificial Intelligence
    
Desktop Application

Automation

Web Development

Data Wrangling, Exploration And Visualisation.
    
Installation:
Download the latest version of Python for your operating system. 

So let create our first python program, hello world program.

First, create a new folder where you will be saving you python files, let say .

Second, launch the VS code and open the new folder you created, Lux.

Third, create a new python file, let say app.py file and enter the following code and save the file:

# Data Types
- Python has several built-in data types, which can be broadly categorized as follows:

#### Numeric Types:
int: Integer type, e.g., 3, 42, -7

float: Floating-point number (decimal), e.g., 3.14, -0.001

complex: Complex numbers with a real and imaginary part, e.g., 2 + 3j

#### Sequence Types:
   
str: String (sequence of characters), e.g., "Hello", 'Python'

list: Mutable ordered sequence of elements, e.g., [1, 2, 3], ["apple", "banana"]

tuple: Immutable ordered sequence of elements, e.g., (1, 2, 3), ("apple", "banana")

range: Represents a range of numbers, e.g., range(0, 10)Mapping Type:

dict: Dictionary, a collection of key-value pairs, e.g., {"name": "Alice", "age": 30}  

#### Set Types:
set: Unordered collection of unique elements, e.g., {1, 2, 3}, {"apple", "banana"}

Boolean Type:

bool: Represents True or False

#### Binary Types:
    
bytes: Immutable sequence of bytes, e.g., b'hello'

bytearray: Mutable sequence of bytes, e.g., bytearray(b'hello')

memoryview: A view object that exposes the internal data of an object that supports the buffer protocol, e.g., memoryview(b'hello')

### None Type:

NoneType: Represents the absence of value, e.g., None

### Callable Types:
function: A function is a block of code which only runs when it is called.

lambda: An anonymous, inline function defined using the lambda keyword.

# Variables
 - Variables are containers for storing data value
   
 - Variables are case sensitive

In [2]:
x = 40
print(x)

40

In [3]:
type(x)

int

In [4]:
x = 'I love coding'
print(x)

I love coding

This flexibility allows Python variables to be reassigned with new values or types, but it's important to manage this carefully in more complex programs to avoid confusion or errors.

In [5]:
print(x)

I love coding

In [7]:
ice_cream = ['strawberry', 'vanilla','mango']
a,b,c = ice_cream
print(a)
print(b)
print(c)

strawberry
vanilla
mango

# Data Types

In [8]:
type(12)

int

In [9]:
type(10.01)

float

In [11]:
type(10+3j)

complex

# Boolean values
- Booleans represent one of two values: True or False.

In [12]:
type(1>5)

bool

In [14]:
bool(1>5)

False

In [15]:
bool(5>1)

True

# Strings
### Python strings are zero-indexed, meaning that the first character of the string has index 0, the second character has index 1, and so on.

In [16]:
'single quote'

'single quote'

In [17]:
"Ann"

'Ann'

In [37]:
# Indexing
a = 'My name is Monty!'
print(a[5])#does not include the 5

m

In [47]:
# Slicing: Specify the start index and the end index, separated by a colon, to return a part of the string.
print(a[5:]) # From 5 to the end

me is Monty!

In [48]:
print(a[:4])# Get the characters from the start to position 4 (not included):

My n

In [46]:
print(a[4:8])# start (inclusive): Start extracting from the character at index 4.
# end (exclusive): Stop extracting before the character at index 4.
# So, a[4:8] extracts characters starting at index 4 and ending before index 8

ame

In [49]:
print(len(a))

17

## Multiline Strings
- You can assign a multiline string to a variable by using three quotes:

In [42]:
b = '''I love coding,
it makes me happy,
hell yeah I'm nerd'''
print(b)

I love coding,
it makes me happy,
hell yeah I'm nerd

In [1]:
#Example 3, escape characters:

escape_str = "She said: \"Python is great!\""
print(escape_str) # She said: "Python is great!"

She said: "Python is great!"

In [2]:
# Example 4, concatenate strings:

one = "Lux"
two = "Academy"
print(one + " " + two) # Lux Academy 
## Note you can not concatenate strings with numbers

Lux Academy

In [3]:
# Example 5: interpolation.

# method 1
first_name = "Lux"
last_name = "Academy"
greet = f"Welcome at {first_name} {last_name}!" 
print(greet)  # Welcome at Lux Tech Academy!

Welcome at Lux Academy!

# lists

In [25]:
[1,2,3]

[1, 2, 3]

In [29]:
['Rice','cakes']

['Rice', 'cakes']

In [27]:
['rice',4,'oman']

['rice', 4, 'oman']

In [30]:
goods = ['Rice','cakes']
goods.append('chapati')
goods

['Rice', 'cakes', 'chapati']

In [32]:
goods[0] = 'porridge'#Changing the index
goods

['porridge', 'cakes', 'chapati']

In [35]:
type(goods)

list

### List Comprehension
- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [17]:
# Before :  write a for statement with a conditional test inside:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

## newlist = [expression for item in iterable if condition == True]

In [18]:
# With list comprehension you can do all that with only one line of code
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [19]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits]# no conditions here

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

# Tuples

- A tuple is almost similar with lists the only difference is that a tuple is immutable(cannot be modified or changed after it is created)

In [33]:
cakes = (1,2,4,6,8)

In [34]:
type(cakes)

tuple

In [37]:
cakes[3]

6

In [ ]:
# Join the tuples

In [35]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

The only way you can change a tuple is first converting it to a list then change back to a tuple

In [28]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Indexing

In [29]:
this_tuple = ("apple", "banana", "cherry")
print(this_tuple[-1])# -1 means starting from the furthest right end

cherry

# Deleting

In [33]:
this_tuple = ("apple", "banana", "cherry")
del this_tuple

In [34]:
print(this_tuple) # Error cause its already deleted

NameError: name 'this_tuple' is not defined

# Sets
- is a built-in data type that represents an unordered collection of unique elements.

In [2]:
# Using curly braces
my_log = {1, 2, 3, 4}
print(my_log)

{1, 2, 3, 4}

In [3]:
type(my_log)

set

In [4]:
# Using the set() function
another_set = set([1, 2, 3, 4, 4,6,89,40])  # Note: the duplicate '4' will be ignored
print(another_set)

{1, 2, 3, 4, 6, 40, 89}

In [5]:
print(my_log | another_set ) # all unique values betwwen the two sets

{1, 2, 3, 4, 6, 40, 89}

In [6]:
print(my_log & another_set )# which one show up in both sets

{1, 2, 3, 4}

In [9]:
print(another_set - my_log )# what doesnt match

{40, 89, 6}

# Dictionaries
 Key/value pair

In [10]:
dict_cake = {'name': 'Peter', 'daily intake': 5, 'favorite cake': ['Pauls', 'Chocolate']}

In [12]:
type(dict_cake)

dict

In [13]:
dict_cake.values()

dict_values(['Peter', 5, ['Pauls', 'Chocolate']])

In [14]:
dict_cake.keys()

dict_keys(['name', 'daily intake', 'favorite cake'])

In [16]:
dict_cake['name'] = 'Rose'
print(dict_cake)

{'name': 'Rose', 'daily intake': 5, 'favorite cake': ['Pauls', 'Chocolate']}

# Operators
== Equal

!= Not Equal

> Greater than

>= greater than or equal to

< less than

<= Less than or equal to

In [17]:
10 ==10

True

In [18]:
10 != 40

True

In [19]:
'Chocolate' == 'Chocolate'

True

In [20]:
'Chocolate' == 'Vanilla'

False

In [26]:
40 >= 10

True

In [22]:
50 <= 10

False

In [27]:
a = 150
b = 36

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# LOGICAL OPERATORS
and = Returns True if both Statements are True

or = Returns True if one of the statements is True

not = Reverses the results and returns False if the result is True

In [12]:
(20>10) and (30>5)

True

In [14]:
(70>10) or (80>500) #one of the statement is true

True

In [15]:
not(20>10) and (30>5)

False

## If Statements
- An "if statement" is written by using the if keyword.
- "if statement" checks the condition first
- if the condition evaluates to True, it executes the statement in the block otherwise ignore it
#### Colon (:) that follows the condition is very important

In [24]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [25]:
age= 23
if int(23) >= 18:
    print("You're Eligible to vote")

You're Eligible to vote

## Elif
- The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".
- The code inside the else block will only execute if all previous conditions were False

In [31]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

### Else
- It acts as a catch-all for cases where none of the if or elif conditions are True.

In [32]:
a = 140
b = 36
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")
## In this example a is greater than b, so the first condition is not true, 
## also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

a is greater than b

## Loops
### For Loop
- A for loop in Python is used to iterate over a sequence (like a list, tuple, string, or range) and execute a block of code repeatedly for each element in the sequence. It is a common way to handle tasks like traversing through a list of items, performing repetitive operations, and mor

In [33]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [34]:
for i in range(7):# used in for loops when you need to iterate a certain number of times.
    print(i)

0
1
2
3
4
5
6

In [36]:
# foor loop
for x in range(0, 3):
  print(x)

0
1
2

In [35]:
# Break
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break # break: Exits the loop prematurely, stopping further iteration.

apple
banana

In [37]:
# Continue
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x) # With the continue statement we can stop the current iteration of the loop, and continue with the next:

apple
cherry

## While Loop
 
- A while loop in Python repeatedly executes a block of code as long as a given condition remains True. Unlike a for loop, which iterates over a sequence, a while loop runs based on a condition and continues until that condition becomes False.

In [38]:
i = 1
while i < 5:
  print(i)
  i += 1

1
2
3
4

####  A while loop will continue running indefinitely if the condition never becomes False. This can lead to an infinite loop, where the loop runs forever. You should ensure there’s a way for the condition to become False inside the loop using: Break

In [40]:
count = 0

while count < 10:
    if count == 7:
        break  # Exit the loop when count reaches 7
    print(count)
    count += 1

0
1
2
3
4
5
6

#### Continue-  skips the current iteration.

In [41]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue # Skip printing when count is 3
  print(i)

1
2
4
5
6

## Functions 
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a res

### From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.ult.

In [44]:
# without parameters
def greet(): # def: The keyword to define a function.
    print("Hello, welcome!")

greet()  # Call the function

Hello, welcome!

In [43]:
# Example 2 With parameters
def greet(name):
    print(f"Hello, {name}!")

greet("Lux")  # Call the function with an argument

Hello, Lux!

### Assignment : Go and check what *args and **kwargs are and how they are used:

## Lambda function
- syntax: lambda arguments : expression
- A lambda function is a small anonymous function that can have any number of arguments but only one expression.

In [46]:
square = lambda x: x ** 2
print(square(5))

25

In [47]:
x = lambda a, b : a * b
print(x(5, 6))# multiple arguments

30

### Class and Objects
- A class is a blueprint for creating objects. It defines a set of attributes (data) and methods (functions) that the objects created from the class can use
- The self Parameter
  
The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [52]:
# Basic Syntax
class ClassName:
    def __init__(self, parameters):
        # Constructor: Initializes attributes
        self.attribute = parameters

    def method(self):
        # Method: Defines a behavior of the class
        pass

        
# class: The keyword used to define a class.
# __init__: A special method called a constructor that initializes the object’s attributes when an instance is created.
# self: A reference to the current instance of the class. It is used to access attributes and methods within the class.

In [54]:
class Dog:
    def __init__(self, name, age):
        self.name = name  # Attribute for dog's name
        self.age = age    # Attribute for dog's age

    def bark(self):  # Method for dog's bark behavior
        return f"{self.name} says Woof!"

# Creating an object (instance) of the Dog class
my_dog = Dog("Rio", 3)

# Accessing attributes and methods
print(my_dog.name)
print(my_dog.bark())

Rio
Rio says Woof!

#### An object is an instance of a class. When you create an object from a class, you can access the class’s attributes and methods.

Creating Objects:
You can create multiple objects from the same class, each with its own attributes.

In [56]:
dog1 = Dog("Rio", 3)
dog2 = Dog("Max", 5)

print(dog1.bark()) 
print(dog2.bark())

Rio says Woof!
Max says Woof!

## Inheritance
Inheritance allows a class (child class) to inherit attributes and methods from another class (parent class). It promotes code reusability.

Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.

In [62]:
# Parent class
class Animal:
    def __init__(self, name):  # Constructor method, initializes the object with a 'name' attribute
        self.name = name  # 'self.name' is an instance attribute, set to the value of the 'name' parameter

    def speak(self):  # A method in the parent class that will be overridden by child classes
        return "Some generic sound"  # Returns a generic sound for any generic animal

# Child class that inherits from the Animal class
class Dog(Animal):  # 'Dog' class inherits from 'Animal', meaning it has access to its attributes and methods
    def speak(self):  # Overrides the 'speak()' method from the Animal class
        return "Woof!"  # Returns "Woof!" when called, specific to dogs

# Another child class that inherits from the Animal class
class Cat(Animal):  # 'Cat' class also inherits from 'Animal'
    def speak(self):  # Overrides the 'speak()' method from the Animal class
        return "Meow!"  # Returns "Meow!" when called, specific to cats

# Creating objects of Dog and Cat classes
dog = Dog("Buddy")  # Creating an instance of the Dog class with the name 'Buddy'. The __init__ method from Animal is called here.
cat = Cat("Whiskers")  # Creating an instance of the Cat class with the name 'Whiskers'. The __init__ method from Animal is called.

# Calling methods
print(dog.name)    # Accesses the 'name' attribute of the dog object, prints: Buddy
print(dog.speak()) # Calls the 'speak()' method of the dog object, prints: Woof!
print(cat.name)    # Accesses the 'name' attribute of the cat object, prints: Whiskers
print(cat.speak()) # Calls the 'speak()' method of the cat object, prints: Meow!

Buddy
Woof!
Whiskers
Meow!

## File Handling